body {
    font-family: 'Arial', sans-serif;
    margin: 20;
    padding: 0;
    background-color: #f0f5f9; /* Light blue background color */
    color: #333; /* Dark text color */
}

header {
    background-color: #3498db; /* Main header background color */
    color: #fff; /* Text color for the header */
    padding: 20px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* White background for the main content */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #3498db; /* Blue heading color */
}

button {
    background-color: #3498db; /* Button background color */
    color: #fff; /* Button text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2980b9; /* Darker blue on hover */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #3498db; /* Footer background color */
    color: #fff; /* Text color for the footer */
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive design */
@media (max-width: 600px) {
    main {
        padding: 10px;
    }
}

input[type="submit"] {
    background-color: #3498db; /* Button background color */
    color: #fff; /* Button text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #2980b9; /* Darker blue on hover */
}
