<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<!-- Registration Form -->
<form action="/register" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <input type="submit" value="Register">
</form>

<hr>

<!-- Login Form -->
<form action="/login" method="post">
    <label for="login_username">Username:</label>
    <input type="text" id="login_username" name="login_username" required>
    
    <label for="login_password">Password:</label>
    <input type="password" id="login_password" name="login_password" required>

    <input type="submit" value="Login">
</form>

<hr>

<!-- Logout Button -->
<form action="/logout" method="post">
    <input type="submit" value="Logout">
</form>

{% if registration_success %}
    <p>Registration successful! Click <a href="/login">here</a> to login.</p>
{% endif %}

{% if login_success %}
    <p>Login successful! Click <a href="/book">here</a> to go to the Book page.</p>
{% endif %}
{% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

</body>
</html>
